.items {
  margin: auto;
  max-width: 800px;
  text-align: center;
}

.items thead th {
  min-width: 90px;
}

.items tbody td {
  padding: 50px 0px;
}

.items tbody .deleteEdit {
  display: flex;
  justify-content: space-around;
}

.iconDelete {
  color: red;
}

.emptyOp {
  text-align: center;
  margin: 20px;
}
